.holder {
    background: #c4e4a1;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #3f7703;
    width: 70%;
    margin: 0 auto 30px;
    text-align: center;
    ul {
        overflow: hidden;
        padding: 10px;
        li {
            margin: 0 0 20px;
        }
    }
}